@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
.content p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  border-bottom: 1px solid rgb(231, 229, 229);
  font-family: "Montserrat", sans-serif;
}

.navbar-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-col h1 {
  font-size: 20px;
}

#icon-header {
  display: flex;
  align-items: center;
}

#icon-header:hover {
  cursor: pointer;
}

#auth-buttons:hover {
  cursor: pointer;
  color: gray;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7px;
  background: linear-gradient(
    to bottom,
    rgb(240, 240, 240),
    rgb(256, 256, 256)
  );
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.title-sec {
  display: flex;
  align-items: center;
}
.gradient-ai {
  background: #cfbc0e;
  background: linear-gradient(to right, #cfbc0e 0%, #cf571b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero img {
  margin-top: 15px;
  max-width: 100%;
  height: auto;
}

.hero h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.hero h3 {
  font-size: 55px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);

  padding: 25px;
}

.footer p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.hero-descriptor {
  margin-top: 15px;
  max-width: 700px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  background-color: #16a34a;
  border: None;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: white;
}

.start-btn:hover {
  cursor: pointer;
  background-color: #0d6c30;
}

.map-container-main {
  display: flex;
  justify-content: center;
}

.control-area {
  flex: 1;
  padding: 25px;
  padding-left: 35px;
}

.control-box {
  border: 2px solid rgb(228, 228, 228);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  /* max-height: 80vh;
  overflow-y: hidden; */
}

.map-container-wrapper {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 85vh;
}

.map-container {
  margin-top: 8px;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 90px;

  margin: 12px;
  border-radius: 4px;

  display: flex;
  align-items: center;
}

.upper {
  display: flex;
}

.selectors {
  background-color: red;
}

.confirm-btn {
  margin: 0px;
  margin-bottom: 10px;
  background-color: rgb(4, 150, 213);
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  gap: 5px;
}

.confirm-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 127, 182);
}

.eyedropdown {
  position: absolute;
  right: 30px;
  background-color: white;
  top: 100px;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 10px;
}

.popover-action-box {
  padding-top: 5px;
  padding-bottom: 5px;
}

.popover-btn {
  width: 100%;
  margin: 0px;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.popover-btn:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background: linear-gradient(
    to bottom,
    rgb(240, 240, 240),
    rgb(256, 256, 256)
  );
  font-family: "Montserrat", sans-serif;
}

.about-p {
  max-width: 1200px;
  font-size: 18px;
}

.search-box {
  margin-bottom: 20px;
}

.image-result {
  margin-top: 5px;
  height: 100%;
  max-width: 100%;
  width: auto;
}



.accordion {
  height: 100vh;
}

.accordion-body {
  max-height: 60vh;
  overflow-y: scroll;
}

.plant-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.plant-header h5 {
  font-size: 15px;
}

.plant-header img {
  border-radius: 6px;
}

.plant-card {
  padding: 10px;
  margin-bottom: 15px;
}

.plant-card:hover {
  background-color: rgb(240, 240, 240);
}

.results-title h3 {
  margin: 0;
  padding: 10px;
  margin-bottom: 8px;
  border-top: 1px solid rgb(231, 229, 229);
}

.results-title p {
  margin: 0;
  padding: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(231, 229, 229);

}




.tips{
  display:flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.tips-info{
  width: 100%;
}


