@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
.content p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  border-bottom: 1px solid rgb(231, 229, 229);
  font-family: 'Montserrat', sans-serif;
}

.navbar-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-col h1 {
  font-size: 20px;
}



#icon-header:hover {
  cursor: pointer;
}

#auth-buttons:hover {
  cursor: pointer;
  color: gray;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7px;
  background: linear-gradient(to bottom,  rgb(240, 240, 240), rgb(256, 256, 256)); 
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.hero img{
  margin-top: 15px;
  max-width: 100%;
  height: auto;
}

.hero h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.hero h3 {
  font-size: 50px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);

  padding: 25px;
  
}

.footer p{
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.hero-descriptor {
  margin-top: 15px;
  max-width: 700px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  background-color: #16a34a;
  border: None;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: white;
}

.start-btn:hover {
  cursor: pointer;
  background-color: gray;
}

.map-container-main {
  display: flex;
  justify-content: center;

 
}



.control-area{
 
  flex: 1;
  padding: 20px;
  
}


.control-box{
  border: 2px solid rgb(228, 228, 228);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.map-container-wrapper {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 95vh;
 
}

.map-container {
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 90px;
  
  margin: 12px;
  border-radius: 4px;
}

.upper{
  display: flex;

}

.selectors{
  background-color: red;
}
