


.content p {
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  border-bottom: 1px solid rgb(231, 229, 229);
}

.navbar-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-col h1 {
  font-size: 20px;
}

.navbar-colw {
  flex: 1.5;
}

#icon-header:hover {
  cursor: pointer;
}

#auth-buttons:hover {
  cursor: pointer;
  color: gray;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1{
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-top:20px
}

.hero h3{
  font-size: 50px;
  padding: 0;
  margin: 0;
  margin-top:10px
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-top: 1px solid rgb(215, 215, 215);
  padding: 9px;
}

.hero-descriptor{
  margin-top: 15px;
  max-width: 700px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start-btn{
  margin-top: 8px;
  background-color: #16A34a;
  border: None;
  border-radius: 5px;
  padding: 10px;
}

.start-btn:hover{
  cursor: pointer;
  background-color: gray;
}